    <!-- **Footer** -->
    <footer id="footer">
    	<div class="container">
        
			<!-- <div class="column one-fourth"> 
                <aside class="widget">
                    <h3 class="widgettitle"> <a href="#" title=""> Information </a> </h3>
                    <ul>
                        <li> <a href="#" title=""> Lorem ipsum dolor sit amet </a> </li>
                        <li> <a href="#" title=""> Mauris aliquam nisi eget quam mollis </a> </li>
                        <li> <a href="#" title=""> Sed a ante nulla, id pretium </a> </li>
                        <li> <a href="#" title=""> Nunc eleifend purus cursus risus </a> </li>
                        <li> <a href="#" title=""> Vestibulum in eros lectus, at tempus </a> </li>        
                        <li> <a href="#" title=""> Nunc eu tellus vitae lacus viverra </a> </li>
                    </ul>
                </aside>   
			</div>
            
            <div class="column one-fourth"> 
                <aside class="widget">
                    <h3 class="widgettitle"> <a href="#" title=""> Featured Products </a> </h3>
                    <ul class="product_list_widget">
                    	<li> 
                        	<a href="#" title=""> 
                            	<img src="images/post-images/featured1.jpg" alt="" title="">                                 
                            </a>
                            Integer luctus portto pur nec ornare metus
                            <span class="amount"> $170,000 </span>
                        </li>
                        <li> 
                        	<a href="#" title=""> 
                            	<img src="images/post-images/featured2.jpg" alt="" title="">                                 
                            </a>
                            Integer luctus portto pur nec ornare metus
                            <span class="amount"> $170,000 </span>
                        </li>
                        <li> 
                        	<a href="#" title=""> 
                            	<img src="images/post-images/featured3.jpg" alt="" title="">                                 
                            </a>
                            Integer luctus portto pur nec ornare metus
                            <span class="amount"> $170,000 </span>
                        </li>
                    </ul>
                </aside>   
			</div>
        
        
        	<div class="column one-fourth">
                <aside class="widget tweetbox"> 
                    <h3 class="widgettitle"> <a href="#" title=""> Twitter Feeds </a> </h3>
                    <div class="tweets"> </div>
                </aside>   
            </div>  --> 
            
            <div class="column one-fourth last">
            	<aside class="widget">
                    <h3 class="widgettitle"> <a href="#" title=""> Contacto </a> </h3>
                	<p> Av. Nazca 1025 Ciudad Autónoma de Buenos Aires, Argentina </p>
                    <p> <span class="icon-phone"> </span> Tel./Fax: (54-11) 4588-2284 </p>
                    <p> <span class="icon-envelope-alt"> </span> Email : <a href="mailto:info@eco-alum.com.ar"> info@eco-alum.com.ar</a> </p> 
                    <ul class="social-icons">
                        <li>
                            <a href="http://www.facebook.com/walter.gamarra.39" target="_blank" title=""> 
                                <img src="images/sociable/hover/facebook.png" alt="facebook" title="facebook">
                                <img src="images/sociable/facebook.png" alt="facebook" title="facebook">                        
                            </a>
                        </li>
                        <li>
                            <a href="http://www.twitter.com/ecoalum" target="_blank" title=""> 
                                <img src="images/sociable/hover/twitter.png" alt="twitter" title="twitter">
                                <img src="images/sociable/twitter.png" alt="twitter" title="twitter">                        
                            </a>
                            </li>
                        <li>
                            <a href="http://www.youtube.com/user/ecoalum" target="_blank" title=""> 
                                <img src="images/sociable/hover/youtube.png" alt="youtube" title="youtube">
                                <img src="images/sociable/youtube.png" alt="youtube" title="youtube">                   
                            </a>
                        </li>
                    </ul>
                </aside>	
            </div>
            
        </div>
        
        <div class="copyright">        	
        	<div class="container">
                <p> Copyright &copy; 2015 eco-alum&reg; todos los derechos reservados.</p>        	
            </div>
        </div>
    </footer><!-- **Footer - End** -->