	<!-- **Header** -->
	<header id="header">
    
    	<!-- **Top Bar** -->
    	<div id="top-bar">
        	<div class="container">
            	<p class="phone-no">  (54-11) 4588-2284 <a href="mailto:info@eco-alum.com.ar" title=""> info@eco-alum.com.ar </a> </p>
                <ul class="social-icons">
                    <li>
                        <a href="http://www.facebook.com/walter.gamarra.39" title=""> 
                            <img src="images/sociable/hover/facebook.png" alt="" title="">
                            <img src="images/sociable/facebook.png" alt="" title="">                        
                        </a>
                    </li>
                    <li>
                        <a href="#" title=""> 
                            <img src="images/sociable/hover/google.png" alt="" title="">
                            <img src="images/sociable/google.png" alt="" title="">                        
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/ecoalum" title=""> 
                            <img src="images/sociable/hover/twitter.png" alt="" title="">
                            <img src="images/sociable/twitter.png" alt="" title="">                        
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- **Top Bar - End** -->
        
        <div class="container" ng-controller="MainCtrl">
        	<!-- **Logo - End** -->
            <div id="logo">
            	<a href="#/" title=""><img src="images/ecoalum_logo.png" height="72" alt=""></a>
            </div><!-- **Logo - End** -->
            
            <!-- **Navigation** -->
            <nav id="main-menu">
            	<ul ui-jq="mobileMenu" ui-options="mobileMenu">
                	<li ng-class="{ 'current_page_item': isActive('/')}"> <a href="#/" title=""> Home </a> <span> </span></li>
                    <li ng-class="{ 'current_page_item': isActive('/quienes-somos')}"> <a href="#/quienes-somos" title=""> Quienes somos </a> <span> </span> </li>
                    <li ng-class="{ 'current_page_item': isActive('/productos')}"> <a href=""> Productos </a> <span> </span> 
                    	<ul>
                            <li>
                                <a href="">Cerramientos</a>
                                <ul>
                                    <li><a href="#/productos/cerramientos/aberturas">Aberturas</a></li>
                                </ul>
                            </li>
                            <li><a href="#/productos/baños">Baños</a></li>   
                       </ul>
                    </li>
                    <li ng-class="{ 'current_page_item': isActive('/contacto')}"> <a href="#/contacto" title=""> Contacto </a> <span> </span></li>
                </ul>
            </nav><!-- **Navigation - End** -->      
        </div>
    	
    </header><!-- **Header - End** -->