	<!-- **Header** -->
	<header id="header">
    
    	<!-- **Top Bar** -->
    	<div id="top-bar">
        	<div class="container clearfix">
            	<p class="phone-no">  (54-11) 4588-2284 <a href="mailto:info@eco-alum.com.ar" title=""> info@eco-alum.com.ar </a> </p>
                <ul class="social-icons">
                    <li>
                        <a href="http://www.facebook.com/walter.gamarra.39" target="_blank" title=""> 
                            <img src="images/sociable/hover/facebook.png" alt="facebook" title="facebook">
                            <img src="images/sociable/facebook.png" alt="facebook" title="facebook">                        
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/ecoalum" target="_blank" title=""> 
                            <img src="images/sociable/hover/twitter.png" alt="twitter" title="twitter">
                            <img src="images/sociable/twitter.png" alt="twitter" title="twitter">                        
                        </a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/user/ecoalum" target="_blank" title=""> 
                            <img src="images/sociable/hover/youtube.png" alt="youtube" title="youtube">
                            <img src="images/sociable/youtube.png" alt="youtube" title="youtube">                        
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- **Top Bar - End** -->
        
        <div class="container clearfix" ng-controller="MainCtrl">
        	<!-- **Logo - End** -->
            <div id="logo">
            	<a href="#/" title=""><img src="images/ecoalum_logo.png" height="72" alt=""></a>
            </div><!-- **Logo - End** -->
            
            <!-- **Navigation** -->
            <nav id="main-menu" main-menu>
            	<ul ui-jq="mobileMenu" ui-options="mobileMenu">
                	<li ng-class="{ 'current_page_item': isActive('/')}"> <a href="#/" title=""> Home </a> <span> </span></li>
                    <li ng-class="{ 'current_page_item': isActive('/productos')}"> <a href=""> Productos </a> <span> </span> 
                        <ul>
                            <li>
                                <a href="">Cerramientos</a>
                                <ul>
                                    <li><a href="#/productos/cerramientos/balcon-templado">Balcon templado</a></li>
                                    <li><a href="#/productos/cerramientos/aluminio">Aluminio</a></li>
                                    <li><a href="#/productos/cerramientos/pvc">PVC</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href>Baños</a>
                                <ul>
                                    <li><a href="#/productos/banios/mamparas">Mamparas</a></li>
                                    <li><a href="#/productos/banios/refacciones">Refacciones</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Pintura</a>
                                <ul>
                                    <li><a href="#/productos/pintura/exterior">Exterior</a></li>
                                    <li><a href="#/productos/pintura/interior">Interior</a></li>
                                </ul>
                            </li>   
                            <li>
                                <a href="">Durlock</a>
                                <ul>
                                    <li><a href="#/productos/durlock/paredes">Paredes</a></li>
                                    <li><a href="#/productos/durlock/revestimientos">Revestimientos</a></li>
                                    <li><a href="#/productos/durlock/cielorasos">Cielorasos</a></li>
                                </ul>
                            </li>
                       </ul>
                    </li>
                    <li ng-class="{ 'current_page_item': isActive('/quienes-somos')}"> <a href="#/quienes-somos" title=""> Quienes somos </a> <span> </span> </li>
                    <li ng-class="{ 'current_page_item': isActive('/testimonios')}"><a href="#/testimonios">Testimonios</a><span> </span> </li>
                    <li ng-class="{ 'current_page_item': isActive('/contacto')}"> <a href="#/contacto" title=""> Contacto </a> <span> </span></li>
                </ul>
            </nav><!-- **Navigation - End** -->      
        </div>
    	
    </header><!-- **Header - End** -->