<div id="main">

 <!-- **Breadcrumb** -->
 <section class="breadcrumb-section half">
 	<div class="container">
 		 <div class="breadcrumb">
 		  <a href=""> Productos </a> 
 		  <span class="icon-chevron-right"> </span>
 		  <a href=""> Cerramientos </a> 
 		  <span class="icon-chevron-right"> </span>
 		  <h1> Balcones de Cristal Templado </h1>
 		</div>
 	</div>
 </section>
<!-- **Breadcrumb** -->

<!-- **Container** -->
<div class="container">

  <p class="text-justify">
  	Los cerramientos para balcones de cristal templado son construcciones que incorporan espacios externos o internos de un departamento, casa, oficina, galerías y/o balcones. 
  	Constituyen la manera más práctica de ganar ambientes y metros cuadrados.
  </p>
  <p class="text-justify">
  	Los cerramientos de balcón de cristal templado en la actualiadad proporcionan un importante papel en la seguridad; ya que cuentan con cerraduras especiales para cristal templado.
  </p>

  <!-- **Portfolio Carousel Wrapper** -->
  <div class="border-title"><h4>Galeria</h4></div>
  <div class="portfolio-carousel-wrapper gallery outerB">
    <!-- **Portfolio Carousel** -->
    <ul class="portfolio-carousel" ui-jq="carouFredSel" ui-options="carouselOptions">
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/balcon_templado.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/balcon_templado.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/balcon_templado3.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/balcon_templado3.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/balcon_templado4.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/balcon_templado4.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/balcon_templado5.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/balcon_templado5.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/balcon_templado6.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/balcon_templado6.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/balcon_templado7.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/balcon_templado7.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
    </ul><!-- **Portfolio Carousel - End** -->
    <div class="carousel-arrows">
      <a href="#" title="" class="portfolio-prev-arrow"> <span class="icon-chevron-left"> </span> </a>
      <a href="#" title="" class="portfolio-next-arrow"> <span class="icon-chevron-right"> </span> </a>
    </div>
  </div><!-- **Portfolio Carousel Wrapper - End** -->

  	<div class="border-title half outerT"><h4>Cómo son los cerramientos de balcon de cristal templado</h4></div>
    <ul>
    	<li>Colgantes</li>
    	<li>Corredizos</li>
    	<li>Corredizos y fijos</li>
    </ul>

  <div class="column one-half">
    <div class="border-title half"><h4>Colores</h4></div>
    <div class="column one-half">
        <h6><em>Cristal templado</em></h6>
        <ul>
          <li>Transparente</li>
          <li>Bronce</li>
          <li>Gris</li>
          <li>Opacado y plastificado</li>
          <li>Opacado y plastificado</li>
        </ul>
    </div>
    <div class="column one-half last">
        <h6><em>Perfiles de Aluar Aluminio</em></h6>
        <ul>
          <li>Anodizado Natural Mate</li>
          <li>Blanco</li>
          <li>Oro</li>
          <li>Otros, a pedido</li>
        </ul>
    </div>
    <p class="clear">Además, el cristal templado permite, en un solo paño, reunir dos tonalidades</p>
  </div>
  <div class="column one-half last">
  	 <div class="border-title half"><h4>Materiales</h4></div>
      <p> Se construyen con perfiles de aluminio Aluar extruído -un proceso que hace que el material adopte formas especiales- o de cristal templado de 10 mm de espesor y rieles de aluminio extruídos.</p>
      <p> En los cerramientos de cristal templados los paños corren sobre rodamientos de nylon blindados autolubricantes, por lo cual no requieren mantenimiento. Por lo mismo, su desplazamiento es siempre suave.</p>
  </div>
  
  <div class="column one-half">
  	<div class="border-title half outerT"><h4>Cuándo conviene instalarlos</h4></div>
  	<h6><em>Los cerramientos son especialmente útiles cuando</em></h6>
    <ul>
    	<li>Se desea aprovechar los metros cuadrados de un balcón para ampliar la superficie interior de un    hogar u oficina</li>
    	<li>Se busca obtener un ambiente más</li>
    	<li>Se usa poco el balcón porque el departamento u oficina se encuentra sobre una calle muy transitada,    o está excesivamente expuesto al sol o al viento</li>
    	<li>Es preciso contar con un ámbito especial para plantas</li>
    </ul>
  </div>
  <div class="column one-half last" toggle-accordion>
  	<div class="border-title half outerT"><h4>Dudas Frecuentes</h4></div>
    <div class="toggle-frame-set faq">
      <h5 class="toggle-accordion"><a href>Se debe solicitar permiso al consorcio para instalar un cerramiento?</a></h5>
      <div class="toggle-content">
        <div class="block">
          <p>Se recomienda la solicitud previa, ya que en algunos casos existen restricciones.</p>
        </div>
      </div>
      <h5 class="toggle-accordion"><a href>Se puede hacer que el cerramiento responda al estilo arquitectónico del edificio?</a></h5>
      <div class="toggle-content">
        <div class="block">
          <p>En muchos casos es posible.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- **Container - End** -->
</div>
    <!-- **Main - End**