<!-- **Breadcrumb** -->
<section class="breadcrumb-section half">
	<div class="container">
		<div class="breadcrumb">
			<h1> Contacto </h1>
		</div>
	</div>
</section><!-- **Breadcrumb** -->

<!-- **Container** -->
<div class="container">

	<!-- **Primary Section** -->
	<section id="primary" class="content-full-width">   

		<div class="column two-third">
			<div id="map" ui-jq="gMap" ui-options="mapConfig"> </div>
		</div>  

		<div class="column one-third last">
			<h3> Detalle de contacto </h3>
			<div class="contact-details">
				<p> Av. Nazca 1025 Ciudad Autónoma de Buenos Aires, Argentina</p>
				<p> <span class="icon-phone"> </span> <strong>Tel./Fax:</strong> : (54-11) 4588-2284 </p>
				<p> <span class="icon-envelope-alt"> </span> <strong>Email</strong> : <a href="mailto:info@eco-alum.com.ar">  info@eco-alum.com.ar </a> </p>
				<h4> Horarios </h4>
				<p class="working-hours"> <span class="icon-time"> </span> <strong>Lun - Vie : 9:00 - 18:00 hs.</strong>
				</div>
			</div>

			<div class="clear"> </div>
			<div class="hr-invisible"> </div> 

			<h3>Envianos un mensaje</h3>
			<div class="message"></div>
			<div class="intro-text type2 " ng-init="showAsesor = false">
				<div class="column four-fifth ">
					<h5>
						Si usted lo desea, podemos mandar a una persona especializada para que, juntos, podamos ver cuál es la mejor solución para brindarle. Servicio válido para Capital Federal y alrededores.
					</h5>
				</div>
				<div class="column one-fifth last">
					<a href="" class="button small" ng-click="showAsesor= !showAsesor">
						<span ng-show="!showAsesor">Solicitar</span>
						<span ng-show="showAsesor">Ocultar</span>
					</a>
				</div>
			</div>
			<div class="clear"></div>
			<form action="sendForm.php" method="post" id="contact-form">
				<p class="column one-third">
					<input class="border-box" name="name" type="text" placeholder="Nombre" required>
				</p>

				<p class="column one-third">
					<input class="border-box" name="email" type="email" placeholder="Email" required>
				</p>

				<p class="column one-third last">
					<input class="border-box" name="telefono" type="text" placeholder="Telefono" required>
				</p>

				<p class="column one-third">
					<select class="border-box" name="Producto" class="texto">
						<option value="Seleccione un producto..." selected="">Seleccione un producto...</option>
						<option value="Aberturas de Aluminio">Aberturas de Aluminio</option>
						<option value="Aberturas de PVC">Aberturas de PVC</option>
						<option value="Cerramiento de Aluminio">Cerramiento de Aluminio</option>
						<option value="Cerramiento en Cristal Templado">Cerramiento en Cristal Templado</option>
						<option value="OFICINAS - Divisiones de Oficina">OFICINAS - Divisiones de Oficina</option>
						<option value="OFICINAS - Alfombras">OFICINAS - Alfombras</option>
						<option value="OFICINAS - Cortinas Venecianas">OFICINAS - Cortinas Venecianas</option>
						<option value="Durlock - Cielorraso">Durlock - Cielorraso</option>
						<option value="Durlock - Paredes">Durlock - Paredes </option>
						<option value="Durlock - Revestimiento">Durlock - Revestimiento 
						</option>
						<option value="Durlock - Instalación">Durlock - Instalación</option>
						<option value="Mampara Corrediza de 2 Paños">Mampara Corrediza de 2 Paños</option>
						<option value="Mampara Corrediza de 4 Paños">Mampara Corrediza de 4 Paños</option>
						<option value="Mampara Especial">Mampara Especial</option>
						<option value="Mampara Paño Fijo">Mampara Paño Fijo</option>
						<option value="Mampara Paño Rebatible">Mampara Paño Rebatible</option>
						<option value="Mampara Tipo Box">Mampara Tipo Box</option>
						<option value="Pintura para casa INTERIORES">Pintura para casa INTERIORES</option>
						<option value="Pintura para casa EXTERIORES">Pintura para casa EXTERIORES</option>
						<option value="Refacciones">Refacciones</option>
						<option value="Otro...">Otro...</option>
					</select>
				</p>

				<p class="column one-third">
					<input class="border-box" name="direccion" type="text" placeholder="Direccion">
				</p>

				<p class="column one-third last">
					<input class="border-box" name="empresa" type="text" placeholder="Empresa" >
				</p>

				<div ng-show="showAsesor">
					<div class="hr top half"></div>
					<p class="column one-third">
						<input class="border-box" name="direccionVisita" type="text" placeholder="Dirección de la visita">
					</p>

					<p class="column one-third">
						<input class="border-box" name="diasDisponibles" type="text" placeholder="Días disponibles">
					</p>

					<p class="column one-third last">
						<input class="border-box" name="horasDisponibles" type="text" placeholder="Horas disponibles">
					</p>
					<div class="hr top half"></div>
				</div>

				<p class="clear">
					<textarea class="border-box" name="comment" placeholder="Consulta" cols="5" rows="3" required></textarea>
				</p>

				<p>
					<input name="submit" type="submit" value="Enviar">
				</p>            
			</form>


		</section>
		<!-- **Primary Section** -->      

	</div>
        <!-- **Container - End** -->