<!-- **Main** -->
<div id="main">

 <!-- **Breadcrumb** -->
 <section class="breadcrumb-section half">
 	<div class="container">
 		 <div class="breadcrumb">
 		  <a href=""> Productos </a> 
 		  <span class="icon-chevron-right"> </span>
 		  <a href=""> Durlock </a> 
 		  <span class="icon-chevron-right"> </span>
 		  <h1>Revestimiento</h1>
 		</div>
 	</div>
 </section>
<!-- **Breadcrumb** -->

<!-- **Container** -->
<div class="container">
  <blockquote class="outerB">
    <p class="text-justify">La construcción de revestimientos con placas de DURLOCK o KNAUF se aplican sobre paredes a las cuáles se les quiere mejorar su aspecto, como tapar manchas de humedad. También es usual aplicarlo para generar mejor acústica, ya que entre la pared y el revestimiento de DURLOCK o KNAUF se aplica lana de vidrio para reducir los sonidos molestos.</p>
  </blockquote>

  <!-- **Portfolio Carousel Wrapper** -->
  <div class="border-title"><h4>Galeria</h4></div>
  <div class="portfolio-carousel-wrapper gallery outerB">
    <!-- **Portfolio Carousel** -->
    <ul class="portfolio-carousel" ui-jq="carouFredSel" ui-options="carouselOptions">
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/durlock/revestimientos/revestimientos_durlock1.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/durlock/revestimientos/revestimientos_durlock1.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/durlock/revestimientos/revestimientos_durlock2.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/durlock/revestimientos/revestimientos_durlock2.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/durlock/revestimientos/revestimientos_durlock3.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/durlock/revestimientos/revestimientos_durlock3.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
    </ul><!-- **Portfolio Carousel - End** -->
    <div class="carousel-arrows">
      <a href="#" title="" class="portfolio-prev-arrow"> <span class="icon-chevron-left"> </span> </a>
      <a href="#" title="" class="portfolio-next-arrow"> <span class="icon-chevron-right"> </span> </a>
    </div>
  </div><!-- **Portfolio Carousel Wrapper - End** -->

	<div class="border-title half"><h4>Revestimientos de Durlock:<span></span></h4></div>
	<p>
		Las placas DURLOCK o KNAUF de 12,5 mm se pueden utilizar sobre bastidores o pueden ser pegados directamente sobre la pared o el material al que se está revistiendo. Se logra una terminación similar a los enlucidos de yeso tradicionales, permitiendo además incorporar aislantes térmicos y/o acústicos.
	</p>

	<div toggle-accordion>
		<div class="border-title half outerT"><h4>Dudas Frecuentes</h4></div>
	  <div class="toggle-frame-set faq">
	    <h5 class="toggle-accordion"><a href>¿Cuánto se demora la instalación de un cielorraso o revestimiento o pared divisorio de Durlock?</a></h5>
	    <div class="toggle-content">
	      <div class="block">
	        <p>Según la superficie, en todos los casos si las mismas son rectas y sin muchos cortes, 100 m2 se pueden estar instalando en el día.</p>
	      </div>
	    </div>
	    <h5 class="toggle-accordion"><a href>¿Se puede aplicar para tapar una mancha húmeda?</a></h5>
	    <div class="toggle-content">
	      <div class="block">
	        <p>Si, lo importante es que las placas de DURLOCK no estén en contacto con dicha humedad. Para ello se deberá armar una parrilla sobre la pared con la cuál nos estamos alejando de la zona húmeda y a su vez se está protegiendo a las placas de yeso.</p>
	      </div>
	    </div>
	    <h5 class="toggle-accordion"><a href>¿Qué cuidado debe tener el DURLOCK?</a></h5>
	    <div class="toggle-content">
	      <div class="block">
	        <p>Lo más importante de todo es que no tenga contácto con el agua. Luego de ser instalado se deberá pintar con el producto que uno desee, de esta manera éste lado puede tener contácto con el agua, ya que la pintura lo está protegiendo evitando que se deteriore o se destruya.</p>
	      </div>
	    </div>
	  </div>
	</div>

  <div class="intro-text type4 sm outerT">
    <a href="#/contacto" class="button small">Solicitar presupuesto</a>
  </div>

</div>
<!-- **Container - End** -->
</div>
    <!-- **Main - End** -->