<!-- **Main** -->
<div id="main">

 <!-- **Breadcrumb** -->
 <section class="breadcrumb-section half">
 	<div class="container">
 		 <div class="breadcrumb">
 		  <a href=""> Productos </a> 
 		  <span class="icon-chevron-right"> </span>
 		  <a href=""> Pintura </a> 
 		  <span class="icon-chevron-right"> </span>
 		  <h1> Exterior </h1>
 		</div>
 	</div>
 </section>
<!-- **Breadcrumb** -->

<!-- **Container** -->
<div class="container">
  <blockquote class="outerB">
    <p class="text-justify">
       La pintura para casas de exteriores permite la protección de fachadas, tanto de la casas como en edificios, según el producto que se emplee. Permitiendo el embellecimiento de las mismas. 
    </p><br>
    <p>
    	Los trabajos de pintura de casas de exteriores son necesarios para renovar el aspecto de paredes, techos de casas, departamentos, galpones, escuelas, obras, etc. (aberturas, cortinas, puertas, etc.).
    </p>
  </blockquote>

  <!-- **Portfolio Carousel Wrapper** -->
  <div class="border-title"><h4>Galeria</h4></div>
  <div class="portfolio-carousel-wrapper gallery outerB">
    <!-- **Portfolio Carousel** -->
    <ul class="portfolio-carousel" ui-jq="carouFredSel" ui-options="carouselOptions">
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/pintura/exterior/exterior_1_1.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/pintura/exterior/exterior_1_1.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/pintura/exterior/exterior_2.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/pintura/exterior/exterior_2.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/pintura/exterior/exterior_3.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/pintura/exterior/exterior_3.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/pintura/exterior/exterior_4.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/pintura/exterior/exterior_4.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/pintura/exterior/exterior_5.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/pintura/exterior/exterior_5.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/pintura/exterior/exterior_6.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/pintura/exterior/exterior_6.jpg" ui-jq="prettyPhoto" ui-options="prettyPhotoOptions" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
    </ul><!-- **Portfolio Carousel - End** -->
    <div class="carousel-arrows">
      <a href="#" title="" class="portfolio-prev-arrow"> <span class="icon-chevron-left"> </span> </a>
      <a href="#" title="" class="portfolio-next-arrow"> <span class="icon-chevron-right"> </span> </a>
    </div>
  </div><!-- **Portfolio Carousel Wrapper - End** -->

  <div class="border-title half"><h4>Los productos que utilizamos son de primera calidad:<span></span></h4></div>

	<ul class="fancy-list  green  tick">
		<li>Las cuales se emplean con total profesionalismo para cada superficie a tratar.</li>
		<li>En algunos casos se necesita un profundo lavado de la superficie a pintar, para dicha tarea contamos con máquina hidrolavadora con la cual podemos realizar la limpieza de la pared o el techo donde aplicaremos la pintura.</li>
	</ul>
 

  <div class="intro-text type4 sm outerT">
    <a href="#/contacto" class="button small">Solicitar presupuesto</a>
  </div>

</div>
<!-- **Container - End** -->
</div>
    <!-- **Main - End** -->