<!-- **Main** -->
<div id="main">

 <!-- **Breadcrumb** -->
 <section class="breadcrumb-section half">
 	<div class="container">
 		 <div class="breadcrumb">
 		  <a href=""> Productos </a> 
 		  <span class="icon-chevron-right"> </span>
 		  <a href=""> Cerramientos </a> 
 		  <span class="icon-chevron-right"> </span>
 		  <h1> Aberturas de aluminio </h1>
 		</div>
 	</div>
 </section>
<!-- **Breadcrumb** -->

<!-- **Container** -->
<div class="container">

  <p class="text-justify">
    Las aberturas de aluminio pueden conformar Cerramientos de Aluminio, Divisiones para Oficina, Techos fijos o corredizos de cristal laminado o vidrio DVH (doble vidriado hermético), Puertas, Ventanas, Puertas Templadas, las cuáles se pueden instalar tanto en departamentos, casas, oficinas, fábricas, negocios, grandes superficies como también pequeñas.
  </p>
  <p class="text-justify">
    Las aberturas de aluminio se pueden generar para la construcción como también para la refacción. En esta intercambiando las aberturas antiguas, que generalmente suelen ser de hierro o de madera por las nuevas aberturas de aluminio, sin necesidad de rotura de paredes. También podemos realizar el cambio de las aberturas con trabajos de albañilería.
  </p>

  <!-- **Portfolio Carousel Wrapper** -->
  <div class="border-title"><h4>Galeria</h4></div>
  <div class="portfolio-carousel-wrapper gallery outerB">
    <!-- **Portfolio Carousel** -->
    <ul class="portfolio-carousel">
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/ventana_modena1.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/ventana_modena1.jpg" prettyp rel="prettyPhoto[gallery]" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/ventana_oscilobatiente.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/ventana_oscilobatiente.jpg" prettyp rel="prettyPhoto[gallery]" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/cerramientos2.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/cerramientos2.jpg" prettyp rel="prettyPhoto[gallery]" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/puertas_templado.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/puertas_templado.jpg" prettyp rel="prettyPhoto[gallery]" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/cerramientos3.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/cerramientos3.jpg" prettyp rel="prettyPhoto[gallery]" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
      <li class="portfolio three-column">
        <div class="portfolio-thumb">
          <img src="images/aberturas/puerta_modena.jpg" alt="" title="">
          <div class="image-overlay">
            <a href="images/aberturas/puerta_modena.jpg" prettyp rel="prettyPhoto[gallery]" title="" class="zoom"> <span class="icon-fullscreen"> </span> </a>
          </div>
        </div>
      </li>
    </ul><!-- **Portfolio Carousel - End** -->
    <div class="carousel-arrows">
      <a href="#" title="" class="portfolio-prev-arrow"> <span class="icon-chevron-left"> </span> </a>
      <a href="#" title="" class="portfolio-next-arrow"> <span class="icon-chevron-right"> </span> </a>
    </div>
  </div><!-- **Portfolio Carousel Wrapper - End** -->

  <div class="border-title half"><h4> ¿Cual es el motivo de elegir una abertura de aluminio de eco-alum®?<span></span></h4></div>

  <div class="column one-half">
    <p>
      Ofrecemos la más alta gama de diseños y estilos en aberturas que se adaptan a su necesidad. 
      Adaptamos las aberturas de aluminio a cualquier tipo de vivienda y vanos que tenga la misma, también se pueden refaccionar las aberturas antiguas, tanto de hierro como las de madera sin necesidad de romper nada para contar con la nueva abertura de aluminio. 
    </p>
    <p>
      Las aberturas de aluminio no necesitan mantenimiento y lo más importante que todo el material es reciclable, de esta manera eco-alum® aporta su compromiso con el medio ambiente. 
    </p>
  </div>
  <div class="column one-half last">
    <p>
      Toda la gama de cerramientos de aluminio con la que trabajamos cuentan con diseños constructivos exclusivos, y sus accesorios son de la mejor calidad, la cual le permite obtener una excelente hermeticidad y estanqueidad con respecto a las inclemencias climáticas.
    </p>
    <p>
      En eco-alum® le brindaremos el mejor asesoramiento, para que nuestros clientes puedan, a la hora de tomar una decisión, tener el conocimiento necesario para optar por la mejor opción desde sus necesidades. Nosotros simplemente le brindamos nuestro conocimiento y ellos en definitiva serán los que tomen la decisión final del producto que estén necesitando, es por ello que eco-alum® brinda el más alto grado de satisfacción, confort y garantía para sus clientes. 
    </p>
  </div>

  <div class="border-title half outerT"><h4>Ventajas del aluminio anodizado<span></span></h4></div>
  <p>
    El anodizado es un tratamiento electroquímico que permite darle al aluminio una capa superficial de un espesor superior a la que ya tiene ese material de por sí.
  </p>

  <div class="column one-half">
    <ul>
      <li>Costo de mantenimiento igual a 0.</li>
      <li>Mayor protección contra la lluvia, el sol, la humedad.</li>
      <li>Posibilidad de realizar acabados decorativos por el mismo sistema electrolítico, de gran resistencia y    sin ocular el carácter metálico del aluminio.</li>
    </ul>
  </div>
  <div class="column one-half last">
    <ul>
      <li>Mayor dureza superficial.</li>
      <li>Resistencia a la abrasión y al desgaste.</li>
      <li>Amplia posibilidad de obtener superficies duras, autolubricadas, aislantes, de reflexión constante y    otras.</li>
    </ul>
  </div>
  

</div>
<!-- **Container - End** -->
</div>
    <!-- **Main - End** -->
