 <!-- **Breadcrumb** -->
 <section class="breadcrumb-section half">
   <div class="container clearfix">
     <div class="breadcrumb">
      <h1> Testimonios </h1>
    </div>
  </div>
</section>
<!-- **Breadcrumb** -->

<!-- **Container** -->
<div class="container clearfix">
	<div class="column one-half">
		<blockquote class="text-justify">
			<q>
				 Este testimonio es para agradecer el trabajo que realizaron en mí departamento
				(cerramiento de cristal templado), la verdad que además de quedar impecable el trabajo, la
				atención personalizada, las chicas que atienden el teléfono y despejan todas las consultas,
				Walter que está al tanto de todo y rescato la respetuosidad del personal que trabajó en mi casa.
				    Hasta último momento espere que en algo fallaran, aunque sea mínimo,
				pero la verdad que no puedo decir nada, un trabajo realizado en tiempo y forma e impecable.
			</q><br> 
			<q>
				Les agradecemos su forma de trabajar y le deseamos lo mejor.
			</q>
			<div class="clearfix"></div> 
			<cite>
				<strong>Saludos Vero y Pablo.</strong>
			</cite>
			<div class="clearfix"></div>
			<cite class="text-left">
				pablolazzaro | consultor informatico.
				E-mail: <a href="mailto:pablolazzaro@live.com">pablolazzaro@live.com</a>
				| Diciembre 2011
			</cite>
			<div class="clearfix"></div>
			<hr class="hr-xs">
			<div class="strong-xs">El equipo de eco-alum® agradece a al señor Pablo y a su esposa la señora Verónica su testimonio.</div>
		</blockquote>
	</div>

	<div class="column one-half last">
		<blockquote class="text-justify">
			<q>
				Hola Walter, estamos realmente contentos de haberlos elegido. Muy conformes
				por el trabajo realizado, las tres mamparas quedaron hermosas como las queríamos.
				Son una empresa súper confiable y agradezco la confianza que depositaron en nosotros,
				tal es así que ni seña nos pidieron, eso no se ve en estos tiempos. Es muy lindo encontrar gente así,
				<strong>Confiables, Responsables y sobre todo buena gente.</strong>
				Muchas gracias, estamos en contacto.
			</q><br> 
			<q>
				Saludos cordiales a todos los integrantes de eco-alum® que fueron por demás amables.
			</q>
			<div class="clearfix"></div> 
			<cite>
				<strong>Gladys y Alejandro de Villa Ballester.</strong>
			</cite>
			<div class="clearfix"></div>
			<cite class="text-left">
				E-mail: <a href="mailto:gladysnil@hotmail.com.ar">gladysnil@hotmail.com.ar</a> | Noviembre 2011
			</cite>
			<div class="clearfix"></div>
			<hr class="hr-xs">
			<div class="strong-xs">El equipo de eco-alum® agradece a la señora Gladys y a su esposo el señor Alejandro su testimonio.</div>
		</blockquote>
	</div>

</div>
<!-- **Container - End** -->